.navBar {
    background: lightgray;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.navBarIcon {
    max-width: 250px;
}
   
.navBarTitle {
    color: gray;
}